* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {

    background:
  url("img/grass.png") 60% 90% repeat-x,  
  url("img/deer.png") 50% 50% no-repeat,
  url("img/cloud.png") -7% 10% repeat-x,
  url("img/sun.png") 90% 7% no-repeat;
  background-size: /*grass*/auto 150px, /*deer*/ auto 500px,/*cloud*/ auto 200px, 
   /*sun*/200px 200px;
   
    position: relative;
}

#container {
    width: 100%;  
    height: 100vh;
    background-color: #f5fcff;
}

